= simple_form_for [@user, @profile] do |f|
  %h2 Profile
  = f.input :username
  = f.input :headline
  .form-group.optional.profile_industry
    %label.string.optional.control-label{for: :profile_industry} Industry
    = f.select :industry,  options_for_select(industry_codes), class: 'option form-control'

  = f.input :bio, label: 'About me', as: :summernote

  %h2 Protected
  = f.input :first_name
  = f.input :last_name
  = f.input :email

  %h2 Web Presence
  = f.simple_fields_for :social_networks, wrapper: 'inline_form' do |s|
    = render 'social_network_fields', f: s
  %p
    = link_to_add_association 'add social network', f, :social_networks

  %h2 Where Work on VR/AR

  %h2 Projects Portfolio

  %h2 Technical Skills

  = f.submit