.row.row-eq-height.pad-section
  .col-sm-3
    = image_tag 'headshot-wtf-200.jpg' #'generic-headshot.png'
  .col-sm-9
    %h1 Profile Details
    .card.section-block
      %h1= @profile.full_name
      .headline
        = @profile.headline
      .industry
        Industry: 
        = industry_codes.key(@profile.industry)
    .card.section-block
      %h2 Projects/Teams
      - @user.projects.each do |project|
        %p
          = link_to project.name, project
          - teams = project.teams.select {|t| t.teammates.include? @user }
          - if teams.present?
            &nbsp; / &nbsp;
            = teams.map {|team| link_to team.name, [project, team] }.join(', ').html_safe

.row
  .col-sm-12
    %h2 About Me
    .card.section-block.bio
      = @profile.bio.html_safe if @profile.bio.present?


.row
  .col-sm-12
    %h2 Contact
    .card.section-block.bio
      %p
        = link_to 'Send email', "mailto:#{@profile.email}" # replace with internal send
      - @profile.social_networks.each do |social|
        %p
          = link_to social.name, social.link

- if policy(@profile).edit?
  .row
    .col-sm-12
      = link_to 'Edit Profile', edit_user_profile_path(@user), class: 'btn btn-primary'
