.row.pad-section
  .col-sm-3
    = image_tag 'generic-headshot.png'
  .col-sm-9
    %h1= @profile.full_name
    .headline= @profile.headline
    .industry= 'Computer Software' # @profile.industry
.row
  %h2 About Me
  .bio
    = @profile.bio.html_safe

