%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'flower-logo-30.png'

  %ul.nav.navbar-nav
    %li.nav-item= link_to 'About', '#about', class: 'nav-link'
    %li.nav-item= link_to 'Why', '#services', class: 'nav-link'
    %li.nav-item= link_to 'Info', '#information', class: 'nav-link'
    %li.nav-item= link_to 'JOIN', '#contact', class: 'nav-link'

    .pull-xs-right
      - if current_user
        = link_to current_user.email, user_profile_path(current_user)
        = link_to 'sign out', destroy_user_session_path, method: :delete
      - else
        = link_to 'sign in', new_user_session_path

  / %form.form-inline.pull-xs-right
  /   %input.form-control{ type:'text', placeholder:'search' }
  /   %button.btn.btn-success-outline{ type:'submit' } Search
