!!!
%html{lang: 'en'}
  = render 'layouts/head'

  %body
    = render 'layouts/navbar'

    - if action_name == 'home'
      = render 'layouts/flash'
      = yield    
        
    - else
      #main.container
        = render 'layouts/flash'
        = yield

    =# render 'layouts/footer'
